:root {
  // COLOR VARIABLES
  --color-primary: #febd67;
  --color-secondary: #72a065;

  --color-dark: #29395f;
  --color-grey: #f4f6f8;
  --color-light: #ffffff;

  // FONT VARIABLES
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond-to("large-dev") {
    font-size: 50%;
  }
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-dark);
}
