// ------------------- ICON COLORS -------------------
.icon {
    // height: 5rem; // to delete after styling all icons
    // width: 5rem; // to delete after styling all icons
    display: inline-block;

    &--secondary {
        fill: var(--color-secondary);
    }

    &--primary {
        fill: var(--color-primary);
    }

}

// ------------------- LIST NORMALIZE -------------------
.list {
    list-style: none;

    &__item {
        text-decoration: none;
    }
}

// ------------------- LINKS NORMALIZE -------------------
.link {
    display: block;
    text-decoration: none;

    &:link,
    &:visited {
        color: inherit;
    }
}

// ------------------- SEARCH -------------------
.search {
    padding: 0;
    margin: 0;
    grid-area: search;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        color: inherit;
        border: none;
        border-bottom: 1px solid var(--color-dark);
        padding: .7rem 2rem;
        width: 80%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            border-bottom: 1px solid var(--color-primary);
            color: var(--color-secondary);
        }

    }

    &__button {
        border: none;
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-dark);
    }
}


// ------------------- PAGINATION -------------------
/* class to hide content visually leaving it available to screenreaders.
 Thank you Mozilla Developer
*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}


.pagination {
    grid-area: pagination;
    font-size: 1.5rem;

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    &__item {
        margin: 0 1px;
    }

    &__link {
        display: block;
        padding: .5em 1em;
        border: 1px solid #999;
        border-radius: .2em;
        text-decoration: none;
    }

    &__link[aria-current="page"] {
        background-color: #333;
        color: #fff;
    }
}