// ------------------- HEADING -------------------

.heading {
    font-weight: 700;

    &-primary {
        text-transform: uppercase;
        font-size: 1rem;

    }

    &-secondary {
        position: absolute;
        top: 70%;
        left: 0;
        padding: 2rem 2rem 2rem 5rem;
        font-size: 2rem;
        color: var(--color-light);
        background-color: rgba(0, 0, 0, 0.5);
    }

    &-tertiary {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        border-bottom: 2px solid var(--color-primary);
        display: inline-block;
    }

    &-quarternary {
        @include respond-to('bigger-dev') {
            font-size: 1.4rem;
        }

        font-size: 1.6rem;
        padding-bottom: 5px;

    }
}

// ------------------- BUTTON -------------------

.btn {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &-icon {
        width: 70%;
        height: 70%;
        fill: var(--color-secondary);

        &:hover {
            fill: var(--color-primary);
        }
    }

    &-search {
        height: 2.5rem;
        width: 2.5rem;

        &:hover .icon-full-btn {
            fill: var(--color-primary);
        }

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &-servings {
        border: 2px solid var(--color-secondary);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;

        @include respond-to('large-dev') {
            width: 2.5rem;
            height: 2.5rem;
        }

        &:hover {
            border: 2px solid var(--color-primary);
        }

        &:hover .btn-icon svg {
            fill: var(--color-primary);
        }
    }

    &-shopping,
    &-likes {
        width: 3.5rem;
        height: 3.5rem;

        @include respond-to('large-dev') {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    &-delete {
        width: 2rem;
        height: 2rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s;
    }

    &-unlike {
        width: 4rem;
        height: 4rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s;
    }

}

// ------------------- LIST NORMALIZE -------------------
.list {
    list-style: none;

    &__item {
        text-decoration: none;
    }
}

// ------------------- LINKS NORMALIZE -------------------
.link {
    display: inline-block;
    text-decoration: none;

    &:link,
    &:visited {
        color: inherit;
    }
}

// ------------------- SEARCH -------------------
.search {
    padding: 0;
    padding-bottom: 2rem;
    margin: 0;
    grid-area: search;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: 1.5rem;
        color: inherit;
        border: none;
        border-bottom: 1px solid var(--color-dark);
        padding: .7rem 2rem;
        width: 80%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            border-bottom: 1px solid var(--color-primary);
            color: var(--color-secondary);
        }
    }

    &__icon {
        height: 100%;
        width: 100%;
    }

}


// ------------------- PAGINATION -------------------
/* class to hide content visually leaving it available to screenreaders.
 Thank you Mozilla Developer
*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}


.pagination {
    padding-top: 1.5rem;
    grid-area: pagination;
    font-size: 1.5rem;

    @include respond-to('large-dev') {
        font-size: 1.2rem;
    }

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

    }

    &__item {
        margin: 0 1px;
    }

    &__link {
        display: block;
        padding: .5em 1em;
        text-decoration: none;
        color: var(--color-secondary);
    }

    &__link[aria-current="page"] {
        border: 2px solid var(--color-primary);
        border-radius: 50%;
    }
}

/* There is no 'icon' component for svgs because there is too much different icons
    and I had problems naming them in the name of BEM methodology. I ended up having icon-med, icon-small, icon-heart, icon-primary(for color primary), etc etc. which looks too bootsrappy for me. So I decided to put icons as elements of their parent's block. More code and some code is repeated but works better for me in this case
*/