.container {
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "nav content"
        "footer content";
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1fr min-content;
}

// ----------------- SIDE NAVIGATION ------------------
.sidebar {
    grid-area: nav;
    background-color: var(--color-primary);
    padding-top: 2rem;
    color: var(--color-secondary);
}

.nav {
    &__list {
        &-item {
            text-align: center;
            position: relative;
            font-size: 1.5rem;
            line-height: 2;

            &:hover {
                background-color: var(--color-secondary);
                color: var(--color-primary);

                & .nav__icon {
                    fill: var(--color-primary);
                }
            }

            &--active::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 4px;
                background-color: var(--color-secondary);
            }
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;

    }

    &__icon {
        height: 4rem;
        width: 4rem;
    }
}

.header {
    z-index: 10;
    text-align: center;
    margin-bottom: 2rem;

    &__logo {
        width: 90%;
        height: 90%;
        padding-bottom: 5px;
    }

    &__text {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
    }
}


// ----------------- MAIN CONTENT ------------------

.content {
    grid-area: content;
    display: grid;
    grid-template-areas: "results recipe";
    grid-template-columns: 1.2fr 1fr;
    padding: 2rem 0;
}


// ----------------- SEARCH AND SHOW RESULTS ------------------

.results {
    grid-area: results;
    padding: 0 5rem;
    position: relative;
    display: grid;
    grid-template-areas: "search"
        "results-list"
        "pagination";
    grid-template-rows: 5vh 85vh 5vh;

    &::after {
        content: '';
        position: absolute;
        top: 7.5vh;
        right: calc(2.5rem - 1px);
        width: 1px;
        height: 85vh;
        background-color: var(--color-secondary);
    }

    &__list {
        grid-area: results-list;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    }

    &__link {
        display: grid;
        grid-template-rows: minmax(min-content, 1fr) min-content;

        &:hover {
            cursor: pointer;
        }
    }

    &__fig {
        position: relative;

        &-icon {
            position: absolute;
            left: 2rem;
            top: 2rem;
            height: 4rem;
            width: 4rem;
            padding: 4px;
            background-color: #fff;
            border-radius: 50%;
        }
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__data {
        padding: 10px;
        background-color: var(--color-grey);
    }

    &__name {
        font-size: 1.6rem;
        padding-bottom: 5px;
    }

    &__nutritions {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
        justify-content: space-between;
        font-size: 1.2rem;
        grid-gap: 10px;
    }

    &__nutrition {
        display: grid;
    }



}

// ----------------- SHOW SELECTED RECIPE ------------------

.recipe {
    grid-area: recipe;
    max-height: 100vh;
    padding: 4.5rem 2.5rem 3rem 0;
    position: relative;

    &__fig {
        position: relative;

        &-caption {
            position: absolute;
            top: 70%;
            left: 0;
            padding: 2rem 2rem 2rem 5rem;
            color: var(--color-light);
            background-color: rgba(0, 0, 0, 0.5);
            font-size: 2rem;
        }
    }

    &__img {
        display: block;
        height: 50vh;
        width: 100%;
    }

    &__general {}

    &__ingredients {
        position: absolute;
        width: 35%;
        left: 60%;
        top: 25vh;
        background-color: var(--color-grey);
        padding: 1rem;
    }

    &__servings {
        display: flex;
        align-items: center;

        &-text,
        &-value {
            font-size: 1.2rem;
            padding: 7px;
            font-weight: 700;
        }
    }

}

// ----------------- SIDE FOOTER ------------------

.footer {
    grid-area: footer;
    background-color: var(--color-primary);
    padding: 2rem 0;
    text-align: center;

    &-list {
        padding-bottom: 2rem;

        &__item {
            padding-bottom: 2rem;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;

    }

}

// ----------------- LEFT SLIDE MODALS ------------------

.shopping,
.likes {
    display: none;
}