.container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
        "nav content"
        "footer content";
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1fr min-content;
}


.sidebar {
    grid-area: nav;
    background-color: var(--color-primary);
    padding-top: 2rem;
    color: var(--color-secondary);
}

.nav {
    &__list {
        &-item {
            text-align: center;
            position: relative;
            font-size: 1.5rem;
            line-height: 2;

            &:hover {
                background-color: var(--color-secondary);
                color: var(--color-primary);

                & .nav__icon {
                    fill: var(--color-primary);
                }
            }

            &--active::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 4px;
                background-color: var(--color-secondary);
            }
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;

    }

    &__icon {
        height: 4rem;
        width: 4rem;
    }
}

.header {
    z-index: 10;
    text-align: center;
    margin-bottom: 2rem;

    &__logo {
        width: 90%;
        height: 90%;
        padding-bottom: 5px;
    }

    &__text {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
    }
}


.content {
    grid-area: content;
    display: grid;
    grid-template-areas: "results recipe";
    grid-template-columns: 1.2fr 1fr;
}

.results {
    grid-area: results;
    padding: 3rem 5rem;

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        grid-gap: 2.5rem;
        margin-bottom: 3rem;
    }

    &__link {
        display: grid;
        background-color: var(--color-grey);

        &:hover {
            cursor: pointer;
        }
    }

    &__fig {
        position: relative;
        display: grid;
        grid-template-rows: 20rem 1fr 1fr;

        &-icon {
            position: absolute;
            left: 2rem;
            top: 2rem;
            height: 4rem;
            width: 4rem;
            padding: 4px;
            background-color: #fff;
            border-radius: 50%;
        }
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__data {

        padding: 10px;
    }

    &__name {
        font-size: 1.6rem;
        padding-bottom: 5px;
    }

    &__nutritions {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
        justify-content: space-between;
        font-size: 1.2rem;
    }

    &__nutrition {
        display: grid;
    }


}

.recipe {
    grid-area: recipe;
}

.footer {
    grid-area: footer;
    background-color: var(--color-primary);
    padding: 2rem 0;
    text-align: center;

    &-list {
        padding-bottom: 2rem;

        &__item {
            padding-bottom: 2rem;
        }
    }

    &__icon {
        width: 3rem;
        height: 3rem;

    }

}

.shopping,
.likes {
    display: none;
}